<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />

    <link
            rel="stylesheet"
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
    />
</head>
    <body>
        <main>
            <div class="m-5">
                <div class="container">
                    <div th:if="!${answer}" style="text-align: center">
                        <h1>Плак-плак, страница не найдена :(</h1>
                        <img style="width: 100%;height:100%;" th:src="@{/images/errors/404.png}">
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>