<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Title</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />

    <link
      rel="stylesheet"
      href="../static/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />

    <link rel="stylesheet" th:href="@{/css/card.css}" />
  </head>

  <!-- data-bs-theme="dark" - делает тёмную тему
см. документацию Bootstrap
https://getbootstrap.com/docs/5.3/customize/color-modes/#dark-mode -->
  <body data-bs-theme="dark" style="position: relative; height: 100vh" >
  <div th:replace="~{nav :: nav}"></div>

    <div class="container">
      <div
        class="card-link-holder"
        th:if="${error eq null}"
        th:each="answer : ${answers}"
        style="width: 100%"
      >
        <a th:href="@{/answers/showanswer(title=${answer.title})}">
          <div class="card mb-3" style="max-width: 100%; background: #9ec5fe">
            <div>
              <div class="card-body">
                <h5
                  class="card-title"
                  th:text="${answer.title}"
                  style="margin: 0"
                ></h5>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div th:if="${error}" class="alert alert-primary m-5">
        <p th:text="${error}">132</p>
      </div>
    </div>

    <a th:if='${isUserHaveAdminRole}' th:href="@{/answers/addanswer}">
      <div style="position: absolute; bottom: 20px; right: 1%">
        <div style="border-radius: 1000px;background: #0a58ca; width: 64px;height: 64px;display: flex;justify-content: center;
      align-items: center;">
            <span style="font-size: 2em; margin-bottom: 6px">+</span>
        </div>
      </div>
    </a>

    <!-- Скрипты для работы всяких приколов -->
    <script
      src="../static/js/bootstrap.bundle.min.js"
      th:src="@{/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
