<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Title</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />

    <link
      rel="stylesheet"
      href="../static/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>

  <!-- data-bs-theme="dark" - делает тёмную тему
    см. документацию Bootstrap
    https://getbootstrap.com/docs/5.3/customize/color-modes/#dark-mode -->
  <body data-bs-theme="dark">
    <div class="text-center bg-dark-subtle p-5 rounded-5 m-5">
      <h1 class="p-3">ну типа это, ты вошёл окда</h1>

      <div class="card-container">
        <div class="card" th:each="subject : ${subjects}" style="width: 18rem">
          <img
            th:src="${subject.getImage_url()}"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title" th:text="${subject.getName()}">
              Card title
            </h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <br />

      <a href="/logout">
        <div class="text-center">Выйти</div>
      </a>
    </div>

    <!-- Скрипт -->
    <script
      src="../static/js/bootstrap.bundle.min.js"
      th:src="@{/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
