<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
  <link
    rel="stylesheet"
    href="../static/css/mdb.dark.min.css"
    th:href="@{/css/mdb.dark.min.css}"
  />
  <head>
    <title>Авторизация</title>
  </head>

  <body>
    <!--  -->

    <div class="container bg-dark-subtle rounded-5 p-5 mt-5 text-center">
        <h1>Авторизация</h1>

        <br>
      <!-- Форма авторизации -->
      <form th:action="@{/login}" method="post">
        <!-- Логин -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input class="form-control" type="text" name="username" />
          <label class="form-label">Логин</label>
        </div>

        <!-- Пароль -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input class="form-control" type="password" name="password" />
          <label class="form-label">Пароль</label>
        </div>

        <div class="d-inline-flex">
          <p class="pe-2">Нет аккаунта?</p>
          <a style="cursor: pointer;" onclick="comingsoon()">Зарегистрируйтесь!</a>
        </div>

        <!-- Тексты ошибок -->
        <div class="text-danger" th:if="${param.error}">
          Неверный логин или пароль!
        </div>
        <div class="text-success" th:if="${param.logout}">
          Вы успешно вышли из аккаунта
        </div>

        <!-- Кнопка входа -->
        <div class="p-3">
          <input
            class="btn btn-primary btn-block"
            data-mdb-ripple-init
            type="submit"
            value="Войти"
          />
        </div>
      </form>
    </div>

    <script>
      function comingsoon() {
        alert("Скоро...");
      }
    </script>
    <!-- Скрипт -->
    <script
      src="../static/js/mdb.umd.min.js"
      th:src="@{/js/mdb.umd.min.js}"
    ></script>
  </body>
</html>
