<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Регистрация</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />

    <link
      rel="stylesheet"
      href="../static/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>

  <body data-bs-theme="dark">
    <div
      th:if="${success}"
      id="userWarningToast"
      class="container text-center rounded-3 bg-dark-subtle p-3 mt-4"
    >
      <div>
        <div>
          <span class="fas fa-check text-success pe-2"></span>
          Вы <span class="text-success">успешно</span> зарегистрировались!
        </div>
      </div>
    </div>

    <div class="container bg-dark-subtle rounded-5 p-5 mt-5 text-center">
      <h1>Регистрация</h1>

      <br />
      <!-- Форма авторизации -->
      <form method="POST" th:if="${success == null}" th:action="@{/register}">
        <!-- Логин -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label">Логин</label>
          <input class="form-control" type="text" name="username" />
        </div>

        <!-- Пароль -->
        <div data-mdb-input-init class="form-outline mb-4">
          <label class="form-label">Пароль</label>
          <input class="form-control" type="password" name="password" />
          <div id="passwordHelpBlock" class="form-text text-start lead">
            Хороший пароль должен состоять минимум из 8 символов, а также
            содержать хотя бы 1 букву, цифру и специальный символ
          </div>
        </div>

        <div class="d-inline-flex mb-4">
          <label class="form-label pe-3" for="select">Вариант</label>
          <!--            сколько элементов в бд, столько добавит optionов,-->
          <!--            в option отображается значение variant_value, -->
          <!--            а в post отправляется id варианта!-->
          <select name="variant" id="variant">
            <option
              th:each="variant : ${variants}"
              th:text="${variant.getVariant_value()}"
              th:value="${variant.getId()}"
            ></option>
          </select>
        </div>

        <div>
          <div class="d-inline-flex">
            <p class="pe-2">Уже зарегистрированы?</p>
            <a
              style="cursor: pointer"
              th:href="@{/login}"
              th:text="Авторизуйтесь"
            />
          </div>
        </div>

        <!-- Кнопка входа -->
        <div class="p-3">
          <input
            class="btn btn-primary btn-block"
            type="submit"
            value="Зарегистрироваться"
          />
        </div>
      </form>
    </div>

    <div class="container mt-3">
      <p>
        Нажимая кнопку "Зарегистрироваться", Вы подтверждаете что ознакомлены с нашими
        <a
          class="link-info link-offset-2 link-underline-opacity-0"
          href="/termsofuse"
          >условиями использования</a
        >
      </p>
    </div>

    <script
      src="../static/js/bootstrap.bundle.min.js"
      th:src="@{/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
