<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Страница модератора</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />

    <link
      rel="stylesheet"
      href="../static/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>

  <body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button
          data-mdb-collapse-init
          class="navbar-toggler"
          type="button"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img
              src="images/testicon.png"
              height="15"
              alt="Иконка сайта"
              loading="lazy"
            />
          </a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Категории</a>
            </li>

            <!-- TODO: сделать чтобы оно показывалось только юзерам с модеркой -->
            <li class="nav-item">
              <a class="nav-link" href="#">Панель модератора</a>
            </li>
          </ul>
        </div>

        <div class="d-flex align-items-center">
          <a class="text-reset me-3" href="#">
            <i class="fas fa-shopping-cart"></i>
          </a>

          <!-- Уведомления -->
          <div class="dropdown">
            <a
              data-mdb-dropdown-init
              class="text-reset me-3 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              aria-expanded="false"
            >
              <i class="fas fa-bell"></i>

              <!-- Для икноки о новых сообщениях -->
              <span class="badge rounded-pill badge-notification bg-danger"
                >-1</span
              >
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Оповещения</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Потом придумаю</a>
              </li>
            </ul>
          </div>
          <!-- Avatar -->
          <div class="dropdown">
            <a
              data-mdb-dropdown-init
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              aria-expanded="false"
            >
              <img
                src="images/testavatar.png"
                class="rounded-circle"
                height="25"
                alt="Фото профиля"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <li>
                <a class="dropdown-item" href="#">Мой профиль</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Настройки</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Выйти</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <main class="mt-5">
      <div class="container">
        <div th:if="${answer}">
          <h1 class="text-center mb-5">Ответ</h1>

          <h2 th:text="${answer.title}"></h2>
          <p th:text="${answer.content}"></p>
        </div>
      </div>
    </main>

    <!-- Скрипты для работы всяких приколов -->
    <script
      src="../static/js/bootstrap.bundle.min.js"
      th:src="@{/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
