<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Инфо о пользователе</title>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />

    <link
            rel="stylesheet"
            href="../static/css/bootstrap.min.css"
            th:href="@{/css/bootstrap.min.css}"
    />
</head>

<body data-bs-theme="dark">
<div th:replace="~{nav :: nav}"></div>

<!-- Карточка -->
<div class="container-sm bg-dark-subtle rounded-3 mt-5 p-5 container-s">
    <!-- Главное о пользователе -->
    <div class="container-fluid d-inline-flex">
        <!-- Аватарка -->
        <div style="width: 7rem; height: 7rem">
            <!-- ОБЯЗАТЕЛЬНО ПОТОМ УБРАТЬ TESTAVATAR!!! -->
            <img th:if="${user.getAvatarURL() == null}"
                 class="rounded-circle img-fluid image"
                 th:src="@{/images/testavatar.png}"
                 width="100%"
                 height="100%"
            />
            <img th:if="${user.getAvatarURL() != null}"
                    class="rounded-circle img-fluid image"
                    th:src="@{'/uploads/avatars/' + ${user.getAvatarURL()}}"
                    width="100%"
                    height="100%"
            />
        </div>

        <!-- Имя, статус... -->
        <div class="ps-5 flex-column">
            <div class="d-inline-flex align-items-center">
                <h1 th:text="${user.getUsername()}">Имя пользователя</h1>
                <span class="ms-3 badge rounded-pill text-bg-dark">Оффлайн</span>
            </div>

            <div class="row">
                <!-- Вариант -->
                <div class="col">
                    <div class="d-inline-flex align-items-center">
                        <p class="text-muted">Вариант:</p>
                        <p class="ms-2" th:text="${userVariant.getVariant_value()}">
                            Вариант
                        </p>
                    </div>
                </div>

                <!-- ID -->
                <div class="col">
                    <div class="d-inline-flex align-items-center">
                        <p class="text-muted">ID:</p>
                        <p class="ms-2" th:text="${user.getId()}">ID</p>
                    </div>
                </div>

                <!-- Активирован? -->
                <div class="col">
                    <div class="d-inline-flex align-items-center">
                        <p class="text-muted">Активирован?</p>
                        <p class="ms-2" th:text="${isUserEnabled ? 'Да' : 'Нет'}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Кнопка назад-->
    <div class="d-flex justify-content-end">
        <a class="btn btn-warning" th:href="@{/moderation}">Назад к панели</a>
    </div>
</div>



<!-- Скрипт -->
<script
        src="../static/js/bootstrap.bundle.min.js"
        th:src="@{/js/bootstrap.bundle.min.js}"
></script>
</body>

<style>
    @media screen and (max-width: 576px){
        .image{
            width: 98px;
            height: 95px;
        }

        .img-fluid{
            max-width: inherit;
        }

        .container-s{
            padding: 0;
        }

    }
</style>
</html>
